* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-size: 1.2rem;
	font-family: Arial;
}

header {
	width: auto;
  	overflow: hidden;
  	position: relative;
}

/*body{  
	margin-bottom: 100px;
}  */

a {
	text-decoration: none;
	color: white;
}

h1 {
	text-align: center;
	margin-right: 100%;
	margin-left: 10px;
	margin-top: 100px;
}

h2 {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 2%;
	font-size: 1.5rem;
}

img {
	max-width: 100%;
	display: block;
  }
/*cabeçalho*/
.barraprincipal {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.botoes {
	display: flex;
}

.barraprincipal li{
	margin-left: 10px;

}

.barraprincipal li a{
	padding: 20px;
	font-size: 1rem;
	
}

.barraprincipal {
	background-color: #4682B4;
}

.barraprincipal li a{
	padding-top: 0px;
	height: 100%; 
	width:  100%;
	background-color: #4682B4;
	color: white;
	text-decoration: none;
	display: inline; 
	line-height:15px;
}

/*logo ou nome da loja*/
#logo {
	margin-left: 15%;
	color: black;
}

/*pagina sobre nos*/
#sobrenos {	
	height:100%;
	text-align: center;
	padding-top: 15%;
	padding-left: 40%;

}
/*imagem de fundoo da pagina sobre nos*/
#banner-sn{ 
	height: 100%;
	padding-bottom: 30%;
	background-image: url(./img/wsn.jpg);
	background-size: cover;


}

/*formulario de contato*/
#formcontato{
	margin-left: 15%; 
	text-align: center;
	background-color:  #C1CDCD ;
	border-radius: 10px; 
	width:70%; 
	color: black;
	height: 5%;
	font-size: 16px;

}

/*formulario de cadastro*/

#formcadastro{
	margin-left: 15%; 
	text-align: center;
	background-color:  #C1CDCD ;
	border-radius: 10px; 
	width:70%; 
	color: black;
	height: 5%;
	font-size: 16px;

} 

/*pagina do cliente*/
.area-do-cliente {
	height:100%;
	color: black;
	text-align: center;
	padding-left: 40%;

	
}
.area-do-cliente h1 {
	text-align: center;
	padding-bottom: 50%;
    font-size: 2rem;

}

.area-do-cliente div {
	margin-bottom: 5%;
	
}

#banner-ac{
	height: 100%;	
	padding-bottom: 80%; 
	background-image: url(./img/area.jpg);
	background-size: cover;
}